<div class="box m-5">
<h1 class="mt-8"> Stupid coaching</h1>
<p><%= @questions %></p>
<p><strong>-You</strong> </p>
<div class="answer">
<p><%= @answer %></p>
<p><strong>-Your coach</strong></p>
</div>
<%= link_to "ask your question", ask_path%>
</div>
